<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>NetWorks -- Contacts</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">NetWorks</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="./contacts">Contacts</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <h1>New Contact</h1>
        <form action="/contacts/create" method="POST">
            
            <input type="text" placeholder="First Name" name="firstName">
            <input type="text" placeholder="Last Name" name="lastName">
            <input type="email" placeholder="email" name="email">
            <input type="text" placeholder="Event met at" name="eventMetAt">
            <input type="date" placeholder="Date met" name="dateMet">
            <input type="text" placeholder="Company" name="company">
            <input type="text" placeholder="Position" name="positionAtCompany">
            <input type="text" placeholder="Common interests" name="spark">
            <input type="text" placeholder="LinkedIn" name="linkedIn">
            <input type="text" placeholder="twitter" name="twitter">
            <input type="submit">
        </form>
    <div id="root"></div>
<script src="js/index.js"></script>
</body>
</html>
